POSTGRES_DB=kittygram
POSTGRES_USER=kittygram_user
POSTGRES_PASSWORD=kittygram_password
DB_NAME=kittygram
DB_HOST=db
DB_PORT=5432
SECRET_KEY=project_secret_key
DEBUG=False
ALLOWED_HOSTS=example1.com, example2.com, example3.com
